<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514529736479-rkj7la9i20ojdhc99gnru8astp52rr3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514529736479-rkj7la9i20ojdhc99gnru8astp52rr3t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>514529736479-18a2r5pf12habo9os0v4e2btnsqiqkgc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD43wFbWAkYQyZpoBqIJDVXg6ChRMG8yno</string>
	<key>GCM_SENDER_ID</key>
	<string>514529736479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>us.macrotechsolutions.keep6</string>
	<key>PROJECT_ID</key>
	<string>keep6-750b8</string>
	<key>STORAGE_BUCKET</key>
	<string>keep6-750b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514529736479:ios:383b23fd3609c24503e22a</string>
	<key>DATABASE_URL</key>
	<string>https://keep6-750b8.firebaseio.com</string>
</dict>
</plist>